* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc; 
}

.display {
  width: 50%;
  height: 30vh;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #777;
  margin: 50px auto;
  background-color: white;
}

.result-display__goals {
  width: 80%;
  height: 70%;
  padding: 30px;
}

.result-display__goals h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.result-display__goals h4 {
  font-size: 1.2rem;
  color: #777;
}

.user-section__form {
  padding: 20px;
}

.user-section__form input {
  border: 1px solid black;
  outline: none;
  padding: 10px;
  width: 60%;
  display: block;
  font-size: 1.1rem;
  margin: 10px 0;
  border-radius: 10px;
}

.user-section__form button {
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 10px; 
  background: none;
  font-size: 1.1rem;
  background-color: #ec2b17;
  cursor: pointer;
} 

.user-section__form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 5px -4px #000;
}

.user-section__form button:active {
  transform: translateY(2px);
  box-shadow: none;
}
